.pagination-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item.active .page-link {
    background-color: var(--primary-color);
    color: white;
  }
  
  .page-link {
    border: none;
    background-color: var(--neutral-color);
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: var(--primary-color);
    color: white;
  }
  